BODY
{
    background: center; 
	background-color: #ffffff;
    FONT-WEIGHT: normal;
    FONT-SIZE: 10pt;
    MARGIN: 0px;
    COLOR: black;
    LINE-HEIGHT: normal;
    FONT-STYLE: normal;
    FONT-FAMILY: Arial, Tahoma;
    BACKGROUND-COLOR: white
}
.plain-text {
	letter-spacing : normal;
	font-family : Verdana;
	font-size : 11px;
	font-stretch : condensed;
	font-style : normal;
	font-weight : lighter;
	word-spacing : normal;
	text-align : left;
}
P, TD, UL, DIV, .yspgen { font: 12px Arial, Helvetica, sans-serif; }
B { font-weight : bold; }

FORM
{
	font-family: Helvetica;
	font-size: 12px;
    TEXT-DECORATION: none
}

A:link
{
    COLOR: #10215A;
    font-family: Helvetica;
	font-size: 12px;
    TEXT-DECORATION: none
}
A:active
{
    COLOR: #10215A;
    font-family: Helvetica;
	font-size: 12px;
    TEXT-DECORATION: none
}
A:hover
{
    COLOR: #333333;
    font-family: Helvetica;
	font-size: 12px;
    TEXT-DECORATION: underline
}

A:visited
{
    COLOR: #10215A;
    font-family: Helvetica;
	font-size: 12px;

    TEXT-DECORATION: none
}
.wctlight
{
    COLOR: #EEEEDD;
    font-family: Helvetica;
	font-size: 14px;
    TEXT-DECORATION: none
}
A.wctlight
{
    COLOR: #EEEEDD;
    font-family: Helvetica;
	font-size: 14px;
    TEXT-DECORATION: none
}
A.wctlight:active
{
    COLOR: #EEEEDD;
    font-family: Helvetica;
	font-size: 14px;
    TEXT-DECORATION: none
}
A.wctlight:hover
{
    COLOR: #EEEEDD;
    font-family: Helvetica;
	font-size: 14px;
    TEXT-DECORATION: underline
}
A.wctlight:visited
{
    COLOR: #EEEEDD;
    font-family: Helvetica;
	font-size: 14px;
    TEXT-DECORATION: none
}
.wctdark
{
    COLOR: #10215A;
    font-family: Helvetica;
	font-size: 14px;
    TEXT-DECORATION: none
}
A.wctdark
{
    COLOR: #10215A;
    font-family: Helvetica;
	font-size: 14px;
    TEXT-DECORATION: none
}
A.wctdark:active
{
    COLOR: #10215A;
    font-family: Helvetica;
	font-size: 14px;
    TEXT-DECORATION: none
}
A.wctdark:hover
{
    COLOR: #10215A;
    font-family: Helvetica;
	font-size: 14px;
    TEXT-DECORATION: underline
}
A.wctdark:visited
{
    COLOR: #10215A;
    font-family: Helvetica;
	font-size: 14px;
    TEXT-DECORATION: none
}
.LARGEHEADING
{
font-family: "Helvetica-medium", Helvetica;
font-size: 25px;
font-color: #10215A
}
.SMALLHEADING
{
font-family: "Helvetica-medium", Helvetica;
font-size: 18px;
font-color: #10215A
}
.SMALLWHITEHEADING
{
font-family: Helvetica;
font-size: 18px;
font-color: white
}
.BODYWHITETEXT
{
font-family: "Helvetica-medium", Helvetica;
font-size: 12px;
font-color: white
}
.LARGEEVENT
{
font-family: "Helvetica-medium", Helvetica;
font-size: 18px;
font-color: #630B12
}
.SMALLEVENT
{
font-family: "Helvetica-medium", Helvetica;
font-size: 12px;
font-color: #630B12
}
.EVENTLIST
{
font-family: Helvetica;
font-size: 12px;
font-color: #10215A;
}
.EVENTWHITELIST
{
font-family: Helvetica;
font-size: 12px;
font-color: white
}
.BKGSPLIT
{
background-attachment: fixed;
background-image: url(images/heading_left.gif);
background-repeat: no-repeat;
}
.submenu-placed {
BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #ffffff 1px solid; PADDING-LEFT: 10px; BACKGROUND: #FFDE56;  BORDER-LEFT: #ffffff 1px solid; COLOR: Black; BORDER-BOTTOM: #cccccc 1px solid; TEXT-DECORATION: none;
	font-size : 11px;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
}
.menu-home {
	BORDER-RIGHT: #162d7b 1px solid; BORDER-TOP: #10215a 1px solid; PADDING-LEFT: 5px; FONT-WEIGHT: normal; FONT-SIZE: 11px; BORDER-LEFT: #10215a 1px solid; COLOR: #ffffff; BORDER-BOTTOM: #162d7b 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #10215a; TEXT-DECORATION: none
}
.menu-list {
	BORDER-RIGHT: #333366 1px solid; BORDER-TOP: #9999cc 1px solid; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 11px; PADDING-BOTTOM: 4px; BORDER-LEFT: #9999cc 1px solid; COLOR: #ffffff; PADDING-TOP: 4px; BORDER-BOTTOM: #333366 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #666699; TEXT-DECORATION: none
}
.menu-blue {
	BORDER-RIGHT: #333366 1px solid; BORDER-TOP: #6699cc 1px solid; PADDING-LEFT: 5px; FONT-WEIGHT: normal; FONT-SIZE: 11px; BORDER-LEFT: #6699cc 1px solid; COLOR: #ffffff; BORDER-BOTTOM: #333366 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #23559C; TEXT-DECORATION: none;
	font-stretch : condensed;
}
A.menu-link:link {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif; TEXT-DECORATION: none;
	font-stretch : condensed;
}
A.menu-link:active {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif; TEXT-DECORATION: none;
	font-stretch : condensed;
}
A.menu-link:visited {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif; TEXT-DECORATION: none;
	font-stretch : condensed;
}
.submenu {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #ffffff 1px solid; PADDING-LEFT: 10px; BACKGROUND: #c6dbf7;  BORDER-LEFT: #ffffff 1px solid; COLOR: #23559C; BORDER-BOTTOM: #cccccc 1px solid; TEXT-DECORATION: none;
	font-size : 11px;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-weight : normal;
	font-stretch : condensed;
}
.submenu2 {
	PADDING-LEFT: 16px;  FONT-SIZE: 10px; COLOR: #666666; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ffffcc; TEXT-DECORATION: none;
	border-bottom : 1;
	border-bottom-color : #FFFFFF;
	border-bottom-style : solid;
	border-top : 1;
	border-top-color : #F0E68C;
	border-top-style : solid;
	font-stretch : condensed;
}

.submenu3 {
	PADDING-LEFT: 24px; FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: Black; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #FFFFF0; TEXT-DECORATION: none;
	border-bottom : 1;
	border-bottom-color : #FFFFF0;
	border-bottom-style : solid;
	border-top : 1;
	border-top-color : #F0E68C;
	border-top-style : solid;
}


.submenu-link {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #23559C; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none;
	font-stretch : condensed;
}
.nav-text {
	FONT-SIZE: 9px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.maindate {
	FONT-SIZE: 9px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	font-weight : bold;
}

.table-title {
	PADDING-LEFT: 12px; BACKGROUND: #999999; PADDING-BOTTOM: 2px; FONT: bold 11px Verdana, Arial, Helvetica, sans-serif; COLOR: #ffffff; PADDING-TOP: 2px; TEXT-DECORATION: none
}

.table-title2 {
	PADDING-LEFT: 12px; BACKGROUND: #DEDEDE; PADDING-BOTTOM: 2px; FONT: bold 10px Verdana, Arial, Helvetica, sans-serif; COLOR: #404040; PADDING-TOP: 2px; TEXT-DECORATION: none
}

.table-title3 {
	PADDING-LEFT: 12px; BACKGROUND: #F5F5F5; PADDING-BOTTOM: 2px; FONT: lighter 9px Verdana, Arial, Helvetica, sans-serif; COLOR: Red; PADDING-TOP: 2px; TEXT-DECORATION: none
}


.rank-title2 {
	FONT-SIZE: 9px; COLOR: red; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif
}
.nav-link {
	FONT-SIZE: 9px; COLOR: #000000; FONT-FAMILY: "Verdana"; TEXT-DECORATION: none
}

.news-date {
	FONT-SIZE: 9px; COLOR: #999999; FONT-FAMILY: "Verdana"; TEXT-DECORATION: none
}


.cell-linked {
	font-family : Verdana;
	font-size : 11px;
	color : Black;
}


.cell-linked :hover {
	font-family : Verdana;
	font-size : 11px;
	color : Background;
	}

.link:hover {
	TEXT-DECORATION: underline
}
.link {
	FONT-SIZE: 10px; FONT-FAMILY: Verdana; TEXT-DECORATION: none;
	color : #3366cc;
}

.Qlink {
	FONT-SIZE: 10px; FONT-FAMILY: Verdana; TEXT-DECORATION: none;
	color : #888888;
}
.Qlink:hover{
	TEXT-DECORATION: underline
}


.bluebox-title {
	FONT-SIZE: 12px; FONT-FAMILY: Verdana; TEXT-DECORATION: none;
	color : #3366cc;
	font-weight : bold;
}
.bluebox-title:hover{
	TEXT-DECORATION: underline
}

.checkalso-title {
	FONT-SIZE: 12px; FONT-FAMILY: Verdana; TEXT-DECORATION: none;
	color : #3366cc;
	font-weight : bold;
}
.checkalso-title:hover{
	TEXT-DECORATION: underline
}

.na-title {
	FONT-SIZE: 13px; FONT-FAMILY: Verdana; TEXT-DECORATION: none;
	color : #3366cc;
	font-weight : bold;
}
.na-title:hover{
	TEXT-DECORATION: underline
}


.newsmod-link {
	FONT-SIZE: 12px; FONT-FAMILY: Verdana; TEXT-DECORATION: none;
	color : #3366cc;
}
.newsmod-link:hover {
	TEXT-DECORATION: underline
}


.bluebox-link {
	FONT-SIZE: 10px; FONT-FAMILY: Verdana; TEXT-DECORATION: none;
	color : inherit;
}

.list-option {
	FONT-SIZE: 10px; COLOR: black; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.list-link {
	FONT-WEIGHT: bold; FONT-SIZE: 9px; COLOR: #3366cc; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.art-title1 {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: #000000; FONT-FAMILY: Helvetica, sans-serif;
	text-decoration : none;
	}
	.art-title1:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: Red; FONT-FAMILY: Helvetica, sans-serif;
	text-decoration : none;
	}
	
.art-title2 {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: #23559C; FONT-FAMILY: Helvetica, sans-serif;
	line-height : 18px; text-decoration: none;
	}
	.art-title2:hover{
	text-decoration: underline;
}

.error-message {
	FONT-WEIGHT: bolder; FONT-SIZE: 16px; COLOR: #E30000; FONT-FAMILY: Arial, Helvetica, sans-serif;
	line-height : 18px;
}

.art-title3 {
	FONT-WEIGHT: normal; FONT-SIZE: 14px; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif;
	line-height : 16px;
}
.art-photo {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}


.boxcont-light {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #FFFFFF; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}

.boxcont-medium {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #666666; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}

.boxcont-dark {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}


.art-photo-smaller {
	FONT-WEIGHT: lighter; FONT-SIZE: 9px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.art-text {
	FONT-SIZE: 11px; VERTICAL-ALIGN: top; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	line-height : 14px;
}
.chk-text {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.chk-title {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #3366cc; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.special-features {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #003399; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.copyright {
	FONT-SIZE: 9px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.fields {  font: normal 10px Verdana, Arial, Helvetica, sans-serif; background: #FAFAFA; border: 1px #333333 solid; margin: 2px 2px}


/********************** Background Color Styles **********************/
.yspwhitebg { background-color:#F7F7F7; }		/** white bg **/
.yspblackbg { background-color: #000000; }		/** black bg **/
.ysprtcol1 { background-color: #F6F7F2; }		/** bg for right-hand column **/

.yspnavbg { background-color: #F6F7F2; }		/** nav bg **/

.ysptblbdr1 { background-color: #333333; }		/** dark table border **/
.ysptblbdr2 { background-color: #CCCCCC; }		/** lighter table border **/
.ysptblbdr3 { background-color: #999999; }		/** medium table border **/

.ysptblthmain { background-color: #666666; }	/** main table header **/
.ysptblthmsts { background-color: #999999; }	/** main table header in stats **/
.ysptblthbody1 { background-color: #CCCCCC; }	/** secondary table headers, with alternating rows in tbl body **/
.ysptblthbody2 { background-color: #EEEEEE; }	/** secondary table headers, when no alternating rows **/

.ysptblclbg1 { background-color: #EEEEEE; }		/** color for table cell: 1 **/
.ysptblclbg2 { background-color: #CCCCCC; }		/** color for table cell: 2 **/
.ysptblclbg3 { background-color: #F4F5F1; }		/** color for table cell: 3 **/
.ysptblclbg4 { background-color: #FFFFEE; }		/** color for table cell: 4 (yellow) **/
.ysptblclbg5 { background-color: #EEEEDD; }		/** color for table cell: 5 (drkr yellow) **/
.ysptblclbg6 { background-color: #FFFFCC; }		/** color for table cell: 6 (light yellow) - used in sts hightlight col **/
.ysptblclbg7 { background-color: #666666; }		/** color for table cell: 7 (gray) - used in sts hightlight th col **/

.ysprow1 { background-color: #FFFFFF; }			/** used to diff rows in tables **/
.ysprow2 { background-color: #FFFFCC; }			/** used to diff rows in tables **/

.yspxprthmain { background-color: #849CC6; }	/** xpert corner table header **/
.yspxprthbody { background-color: #EFF3F9; }	/** secondary table headers **/

.ysphomegm { background-color: #E7E7C6; }		/** games @ home **/
.yspawaygm { background-color: #CECECE; }		/** games @ away **/
.ysptodaygm { background-color: #FFFF9C; }		/** games @ today **/

.yspsctbg { background-color: #10215A; }
.yspscbrdbg { background-color: #630B12; }

.ysptblhdr { font: bold 10px Verdana, Arial, Helvetica, sans-serif; color: #FFFFFF; }
.ysptblhdr2 { font: bold 12px Verdana, Arial, Helvetica, sans-serif; color: #FFFFFF; }
.ysptblbdr2 { background-color: #F2F2F2; }
.ysptblclbg3 { background-color: #F4F5F1; }	

.ysptblthbody2 { background-color: #EEEEEE; }
.yspscores { font: 10px Verdana, Arial, Helvetica, sans-serif; }
.yspdetailttl { font: bold 10px Verdana, Arial, Helvetica, sans-serif; color: #000000; }
a.yspmore { font: bold 10px Verdana, Arial, Helvetica, sans-serif; }
.moneylistcalcdate { font: italic 10px Helvetica, sans-serif; }
.moneylistpos {font: bold 10px color:#10215A; }
a.moneyteamname {font: 11px Helvetica color:#333333; text-decoration:underline; }
a.moneyteamname:hover {font: 11px Helvetica color:#000000; text-decoration:underline; }
a.moneyteamname:visited {font: 11px Helvetica color:#333333; text-decoration:underline; }
.moneylistcash {font: bold 11px Helvetica; color:#10215A; }
.statsleadertitle {font: 11px Helvetica; }
.statsleadertext {font: bold 11px Helvetica; color:#10215A; }
.statsleaderteam {font: bold 12px Tahoma; color:#10215A; }
a.statsleaderteamlink {font: 11px Helvetica color:#333333; text-decoration:underline; }
a.statsleaderteamlink:hover {font: 11px Helvetica color:#000000; text-decoration:underline; }
a.statsleaderteamlink:visited {font: 11px Helvetica color:#333333; text-decoration:underline; }
.statsheader {font: bold 10px; }
.statrank {font: bold 10px; }
.statgamesplayed {font: bold 11px Helvetica; color:#10215A; }
.statresult {font: bold 11px Helvetica; color:#10215A; }
.statteam { font: 10px Helvetica, sans-serif; }
.statteamloc { font: italic 10px Helvetica, sans-serif; }
.teamcounter { font: 9px Helvetica, sans-serif; }
a.teamlink {font: 12px Helvetica color:#333333; text-decoration:underline; }
a.teamlink:hover {font: 12px Helvetica color:#000000; text-decoration:underline; }
a.teamlink:visited {font: 12px Helvetica color:#333333; text-decoration:underline; }
.teamclubtown {font: bold 11px Helvetica; color:#10215A; }
.teamlist {font: 11px Helvetica; }
.teamhead {font: bold 11px Helvetica; color:#10215A; }
.yspsctnhdln {font: bold 11px Helvetica;}
.yspgens {font: 11px Helvetica; color:#10215A; }
.formclass {font: 12px Helvetica; color:#10215A; }


.teams
  		{
  		FONT-SIZE: 7pt;
	    COLOR: black;
    	FONT-FAMILY: Verdana
		}
.date	
  		{
  		FONT-SIZE: 7pt;
	    COLOR: red;
    	FONT-FAMILY: Arial,Helvetica,Geneva,Swiss,SunSans-Regular
		}
.CONTENT
{
    FONT-SIZE: 9pt;
    COLOR: black;
    FONT-FAMILY: Arial, Tahoma

}
.CONTENTHEAD
{
    FONT-SIZE: 10pt;
    COLOR: black;
    FONT-FAMILY: Verdana;
	FONT-WEIGHT: bold

}
.CONTENTLINK
{
    FONT-SIZE: 8pt;
    COLOR: blue;
    FONT-FAMILY: Verdana;
	FONT-WEIGHT: bold

}
.BYLINE
{
    FONT-SIZE: 10pt;
    COLOR: black;
    FONT-FAMILY: Arial, Tahoma

}
.SECTIONHEAD
{
    FONT-SIZE: 10pt;
    COLOR: black;
    FONT-FAMILY: Arial, Tahoma;
	FONT-WEIGHT: bold

}
.RIGHTHEAD
{
    FONT-SIZE: 10pt;
    COLOR: white;
    FONT-FAMILY: Helvetica;
	FONT-WEIGHT: normal

}
.RIGHTLINK
{
    FONT-SIZE: 9pt;
    COLOR: ffffbf;
    FONT-FAMILY: Helvetica;
	FONT-WEIGHT: normal
}
.WHITELINK
{
    FONT-SIZE: 16pt;
    COLOR: #ffffbf;
    FONT-FAMILY: Helvetica;
	FONT-WEIGHT: bold

}

.BRACKETTEAM
{
    FONT-SIZE: 10pt;
    FONT-FAMILY: Verdana;
}