* {
margin: 0;
padding: 0;
}
html {
	height: 100%;
}
body {
	height: 100%;
	font-family: "Segoe UI",Segoe,Tahoma,Arial,Verdana,sans-serif;
}
a {
	text-decoration: none;
	color: inherit;
}

a:hover {
	text-decoration: underline;
}

.gray-text {
	color: beige;
}

/************************
Landing Page
************************/

/*Animations*/
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/*Desktop*/

.logo-container{
    position: relative;
    color: white;
    font-family: impact, charcoal, sans-serif;
    width: 150px;
    height: 50px;
	top: -49px;
    right: 148px;
}

.logo-container img {
	height: 50px;
	width: auto;
}
/*
.house-container {
    position: absolute;
    height: 8px;
    width: 146px;
	top:5px;
	left: -1px;
}
.logo-house {
    position: absolute;
}

.logo-house.twelve-foot {
    background: blue;
    width: 40px;
    height: 40px;
    border-radius: 25px;
    left: 7%;
    top: 17%;
}

.logo-house.eight-foot {
    background: #ddd;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    top: 80%;
    left: 10.5%;
	
}

.logo-house.four-foot {
background: red;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    top: 137%;
    left: 14%;
}

.logo-house.button {
	background: #ddd;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    top: 198%;
    left: 17.3%;
}

.logo-text {
	position:absolute;
	font-size:40px;
	display:flex;
	
}*/

#landing-container {
	position:relative;
	min-width: 100%;
	height: 100%;
	background-color:#666;
	background-repeat:no-repeat;
	margin-bottom: -40px;
	z-index: 0;
}

.landing-container {
    animation: fadein 2s;
    background-size: 100%;
}

#search-container {
    position: absolute;
    left: 18%;
    top: 20%;
}

#search-input-container {
    width: 450px;
    background-color: white;
	display: inline-block;
}

#search-input{
    width: 383px;
    height: 40px;
    outline: none;
    border: none;
    padding: 5px 10px;
    font-size: 18px;
    font-family: "Segoe UI",Segoe,Tahoma,Arial,Verdana,sans-serif;
}

#search-button {
    position: absolute;
    top: 3%;
    left: 403px;
    background-image: url(/images/search-icon.png);
    width: 44px;
    height: 44px;
    cursor: pointer;
    background-size: contain;
}

.footer {
	position: relative;
	height: 40px;
	background-image: linear-gradient(rgba(0,0,0,.55) 0%,rgba(0,0,0,.55) 100%);
	color: white;
	font-size:18px;
}

.footer-about {
	position: absolute;
	right: 48%;
	top:16%;
}

.footer-copyright {
	position: absolute;
	right: 4%;
	top:16%;
}

.footer-factoid {
	position: absolute;
	left: 2%;
	top:16%;
}

/*Mobile*/
@media(max-width:500px) {
	#search-container {
		top: 13%;
		left: 5%;
		width: 90%;
	}
	#search-input-container {	
		width: 100%;
	}
	
	.logo-container {
	    top: -100px;
		right: -25%
	}
	
	#search-button {
		left: 86%;
		top: 3%;
		background-image: url(/images/search-icon-no-background.png);
		width: 35px;
		height: 35px;
	}
	
	#search-input {
		width: 82%;
		height: 30px;
		padding-right: 15%;
	}

	
	#landing-container {
		width: 100%;
		min-height:100%;
		min-width:0;
	}
	
	.landing-container {
	    background-size: auto 100%;
		background-position: 30%;
	}

	.footer-factoid {
		display:none;
	}
	.footer-about {
		left: 5%;
	}
	
}



