/*------Views------*/
@smartphones: ~"only screen and (max-width: 479px)";
@mini-tablets: ~"only screen and (min-width: 479px) and (max-width: 768px)";
@tablets: ~"only screen and (min-width: 768px) and (max-width: 959px)";
@desktop: ~"only screen and (min-width: 959px)";

/*------Colors------*/
@red: #FF5A5E;
@darkBlue: #067EFB;
@blue: #45A1FF;
@lightBlue: #5AD3D1;
@nearlyWhite: #f7f7f7;
@veryLightGray: #E0E0E0;
@lightGray: #cccccc;
@gray: #696969;
@darkGray: #666666; 
@gold: #B79D59;
@green: #27ae60;

.green {
	color: @green;
}

.gray-text {
	color: beige;
}

/*----------Fonts--------------*/
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);


/*-------- Global Styles ---------*/
* {
margin: 0;
padding: 0;
}
html {
	height: 100%;
}
body {
	height: 100%;
	font-family: 'Montserrat', "Segoe UI" ,Segoe,Tahoma,Arial,Verdana,sans-serif;
	background-color:@veryLightGray;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
#wrapper {
	min-height: 100%;
	margin-bottom: -60px;
}
#push {
	height: 60px;
}
a {
	text-decoration: none;
	color: inherit;
}

a:hover {
	text-decoration: underline;
}
.invisible {
	display:none;
}
.right {
	float: right;
}
.col-6 {
	width: 50%;
}
.col-12 {
	width: 100%;
}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 70%;
    margin: 20px auto;
    border: 3px solid #333;
    font-size: 30px;
    font-weight: 700;
    padding: 10px 15px;
    background-image: url(/images/down-arrow.svg);
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: right 20px top 50%;
    display: block;
	font-family: Montserrat,"Segoe UI",Segoe,Tahoma,Arial,Verdana,sans-serif;
	outline: none;
}





/************************
Landing Page
************************/

/*Animations*/
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/*Desktop*/

.logo-container{
    margin: auto auto;
    width: 272px;
	margin-bottom:30px;
}

.logo-container img {
	height: 50px;
	width: auto;
}

#landing-container {
	min-width: 100%;
	height: 100%;
	background-color:@nearlyWhite;
	background-repeat:no-repeat;
	z-index: 0;
}

.landing-container {
    animation: fadein 2s;
    background-size: 100%;
}

#search-container {
    position: absolute;
    top: 40%;
    width: 100%;
}

#search-input-container {
    position: relative;
    max-width: 550px;
	width: 95%;
    margin: auto auto;	
}

#search-input{
width: 100%;
    height: 50px;
    outline: 0;
    padding: 5px 10px;
    font-size: 18px;
    font-family: "Segoe UI",Segoe,Tahoma,Arial,Verdana,sans-serif;
    z-index: 99;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

#search-button {
    text-indent: 99em;
    position: absolute;
    top: 2px;
    bottom: 2px;
    right: 2px;
    background-image: url(/images/search-icon-small.png);
    width: 60px;
    cursor: pointer;
    background-size: 20px 20px;
    background-position: 50% 50%;
    background-color: #fff;
    border: none;
    background-repeat: no-repeat;
    opacity: .6;
}

#search-button:hover {
	background-color: @green;
	background-image: url(/images/search-icon-small-white.png);
	border-radius:3px;
	opacity: 1;
}

.footer {
	position: relative;
	height: 60px;
	color: @darkGray;
	font-size:14px;
	line-height:30px;
}

.footer-about {
	position: absolute;
	left: 5%;
	top:16%;
}

.footer-copyright {
	position: absolute;
	right: 4%;
	top:16%;
}

#slogan {
	text-align: center;
	color:@darkGray;
	margin-top:12px;
}


/*********************
Banner
*********************/


#banner {
	position: relative;
	background: white;
	width: 100%;
	height: 80px;
	box-shadow: 0px 0px 10px #aaa;
	#banner-search-container{
		position:relative;
		top: 18px;
		max-width:500px;
		width: 80%;
		height: 50%;
		margin: auto;
		background: @nearlyWhite;
		border: 1px solid #ddd;
		@media @smartphones, @mini-tablets {
			float: right;
			margin-right: 5px;
		}
		#search-input-banner {
			position: absolute;
			background: none;
			outline: none;
			border: none;
			height: 100%;
			width: 90%;
			font-size: 18px;
			color: @darkGray;
			padding-left: 10px;
		}
		#search-button-banner {
			position: absolute;
			right: 0%;
			height: 100%;
			background: url(/images/search-icon-thin.png);
			background-size: 21px 21px;
			background-position: 10px;
			background-repeat: no-repeat;
			outline: none;
			border: none;
			width: 40px;
			height: 40px;
			cursor: pointer;
		}
	}
	#banner-logo {
		position: absolute;	
		max-width: 200px;
		padding: 20px;
		box-sizing: border-box;				
		width: 20%;
		height: 100%;
		a {
			width: 100%;
			height: 100%;
			display: table;
			background-image: url(/images/logo-2.png);
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center;
			@media @smartphones, @mini-tablets {
				padding: 5%;
				background-image: url(/images/favicon.png);
			}
		}
	}
}






/**********************
Search Items
**********************/

#search-results-number {
    margin: auto;
    color: #777;
    font-size: 16px;
    margin-top: 20px;
    font-weight: bold;
	text-align: center;
	width: 80%;
}

.search-item {
	position:relative;
    background-color: #f9f9f9;
    border: 1px solid @lightGray;
    box-shadow: 1px 1px 1px #ccc;
	transition:box-shadow 0.2s;
    margin: auto;
	max-width: 700px;
	width: 95%;
    text-align: left;
    text-indent: 30px;
    padding: 0px;
    color: #666;
    height: 130px;
	margin-top:20px;
}

.search-item:hover {
	box-shadow: 3px 3px 10px 1px #aaa;
}

.search-item a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.search-type-img {
    position: absolute;
	left: 0;
    display: inline-block;
	height: 100%
}	

.search-type-img img {
    position: absolute;
	left: 0;
    height: 100%;
}

.search-name {
    position: absolute;
    color: #666;
    font-size: 45px;
    top: 34px;
    left: 120px;
}

.search-description {
	position:absolute;
	bottom: 5px;
	left: 120px;
}

.search-type {
	position: absolute;
	left:140px;
	font-size:30px;
	color: #2980b9;
}

.search-item p {
	display:inline-block;
	text-indent: 0;
}

.divider {
	color: #ccc;
	padding: 5px;
}

/**************************
Stats Page
**************************/

.player-name {
	h1 {
		span {
			color: @gold;
		}
		color: @darkGray;
		font-size: 60px;
		margin-top: 20px;
		text-align: center;
	}
}

.section {
	cursor: default;
	box-sizing: border-box;
	background: white;
	box-shadow: 3px 3px 3px #aaa;
	margin: 20px auto;
	padding: 20px;	
	max-width: 500px;
	width: 95%;
	color: #333; 
	font-size: 0;
	.section-title {
		font-size: 60px;
		text-align: center;	
	}
	.section-subtitle {
		color: #2980b9;
		margin-top: 20px;
		font-size: 18px;
	}
	.subsection {
		border-top: 1px solid #ccc;		
		&>.sub-fact {
			position: relative;
			display: inline-block;
			height: 100%;
			padding-top: 20px;
			height: 150px;
			@media @smartphones {
				width: 100%;
			}			
			&>span {
				position: absolute;
				width: 100%;
				height: 100%;
				text-align: center;
			}
		}
		.graph {
			canvas {
				max-width: 100%;
			}
			.legend {
				font-size: 24px;
				.wins {
					color: @lightBlue;
					
				}
				.losses {
					color: @red
				}
				.number {
					font-size: 30px;
				}
			}
		}
		.number {
			padding: 0px;
		}
	}
	.section-rank-item {
		border-top: 1px solid #ccc;
		padding: 15px;
		font-size: 16px;
		&:hover {
			background: #eee;
			cursor: pointer;
		}
	}
	.number {
		font-size: 110px;
		&.money {
			font-size: 85px;
		}
	}	
	.button-container {
		width: 50%;
		display: inline-block;
		text-align:center;
	}
	.ghost-button {
		display: inline-block;
		border: 2px solid #333;
		padding: 10px 20px;
		background: white;
		margin:20px;
		cursor: pointer;
		transition: background 0.5s;
		font-size: 16px;
	}
	.ghost-button.clicked {
		background: #e3e3e3;
	}
	p {
		display: inline-block;
	}

}


/*Mobile*/
@media(max-width:500px) {
	/*
	Landing Page
	*/
	#search-container {
		top: 13%;
		left: 5%;
		width: 90%;
	}
	#search-input-container {	
		width: 100%;
	}
	
	.logo-container {
	    top: -100px;
		right: -25%;
		margin-bottom:45px;
	}
	
	#search-button {
		background-image: url(/images/search-icon-no-background.png);
		width: 40px;
	}
	
	#search-input {
		width: 100%;
		height: 50px;
		padding-right: 15%
	}

	
	#landing-container {
		width: 100%;
		min-height:100%;
		min-width:0;
	}
	
	.landing-container {
	    background-size: auto 100%;
		background-position: 30%;
	}
	.footer {
		font-size:20px;
	}
	.footer-about {
		left: 5%;
	}
	
	.search-item {
		width: 95%;
	}

	.search-type {
		font-size: 25px;
		left: 14%;
	}
	.search-description{
		font-size: 13px;
		left: 1%;
		text-indent: 0;
	}
	.search-name {
		font-size: 35px;
		left: 13%;
	}
	.search-type-img {
		height: 50%;
	}
	
}

/************************************************************
Autocomplete
************************************************************/

.autocomplete-suggestions {
    /* core styles should not be changed */
    position: absolute; display: none; z-index: 2; max-height: 254px; overflow: hidden; 
	font-size:16px;
	background:white;
	border-bottom:1px solid #ccc;
}
.autocomplete-suggestion { 
	position: relative; 
	padding: 0 .6em; 
	line-height: 40px; 
	white-space: nowrap; 
	overflow: hidden;  
	color: #333;
	border: 1px solid #ccc;
	border-top:none;
	border-bottom: none;}
.autocomplete-suggestion b { font-weight: bold; color: #333; }
.autocomplete-suggestion.selected { background: #ddd; }
.autocomplete-suggestion:hover {
	cursor: pointer;
}




